@model IEnumerable<string>
@{
    ViewBag.Title = "Home";
}

<h1>Cities</h1>

<ul class="list">
@foreach (string city in Model)
{
    <li>@city</li>
    }
</ul>  

<div>@ViewBag._citiesServiceId</div>
<div>@ViewBag._citiesServiceId1</div>
<div>@ViewBag._citiesServiceId2</div>
<div>@ViewBag._citiesServiceId_InScope </div> 