@using LearningScripts.Models

@{
    string appTitle = "ASP.NET CORE APP";
    // Book book = new Book() {BookId=3, Author= "Manford",AuthorGender= Book.Gender.Male};
    List<Book> books = new List<Book>()
    {
        new Book() {BookId=3, Author= "Manford",AuthorGender= Book.Gender.Male},
        new Book() {BookId=2, Author= "Wenji",AuthorGender= Book.Gender.Female},
        new Book() {BookId=1, Author= "Manf0rd",AuthorGender= Book.Gender.Other},
    };
}

<!DOCTYPE html>
<html>
   <head>
       <title>@appTitle</title>
       <meta charset="utf-8" />
   </head>
   <body>
    <h1>welcome</h1>
    
    @* @if (book.BookId.HasValue)
    {
        <h2>@book</h2>
    } *@

    @* @switch (book.AuthorGender)
    {
        case Book.Gender.Male:
            <p>Happy men's day</p>
            ;
            break;
        case Book.Gender.Female:
            <p>Happy women's day</p>
            ;
            break;
        case Book.Gender.Other:
            <p> Happy Transgender's day </p>
            ;
            break;

    } *@

    @foreach (var book in books)
    {
        <div>
            @book.Author
            <span>, </span>
            <span>@book.AuthorGender</span>
            @if (book.BookId!=null)
            {
                <span>@book.BookId</span>
            }
        </div>
    }

    @for (int i = 0; i < 2; i++)
    {
        Book book = books[i];
        <div>
            @book.Author
            <span>, </span>
            <span>@book.AuthorGender</span>
            @if (book.BookId != null)
            {
                <span>@book.BookId</span>
            }
        </div>

    }
   </body>
</html>