@using LearningScripts.Models
@model IEnumerable<Book>

@{
    double? GetAge(DateTime? releaseDate)
    {
        if (releaseDate.HasValue)
        {
            return Math.Round((DateTime.Now - releaseDate.Value).TotalDays / 365.25);
        }
        else
        {
            return null;
        }
    }


}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.appTitle</title>
    <meta charset="utf-8" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="page-content">
        <h1>welcome</h1>

        @* @if (book.BookId.HasValue)
    {
        <h2>@book</h2>
    } *@

        @* @switch (book.AuthorGender)
    {
        case Book.Gender.Male:
            <p>Happy men's day</p>
            ;
            break;
        case Book.Gender.Female:
            <p>Happy women's day</p>
            ;
            break;
        case Book.Gender.Other:
            <p> Happy Transgender's day </p>
            ;
            break;  

    } *@

        @{
            // List<Book>? books= (List<Book>) ViewData["books"];
        }

        @foreach (Book book in Model)
        {
            @:Hello to
            <div class="box">
                <h3>@book.Author</h3>
                <table class="table w-100">
                    <tbody>
                        <tr>
                            <td>Author Gender</td>
                            <td>@book.AuthorGender</td>
                        </tr>
                        <tr>
                            <td>Release Date</td>
                            <td>@book.ReleaseDate?.ToString("MM/dd/yyyy")</td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <a href="/book-details/@book.BookId">Details</a>
                </div>


            </div>
        }

        <div>
            <a href="/book-with-product">Book with Product</a>
        </div>

        @* @for (int i = 0; i < 2; i++)
    {
        Book book =ViewBag.books[i];
        <text>Hello to</text>
        <div>
            @book.Author
            <span>, </span>
            <span>@book.AuthorGender</span>
            @if (book.BookId != null)
            {
                <span>@book.BookId</span>
                <span>@GetAge(book.ReleaseDate) years old</span>
            }
        </div>

        } *@
    </div>
</body>
</html>